{% extends 'base.html' %}




{% block body %}
  <!-- ERROR MESSSSAGES IF FOR WAS INCORECTLY FILLED -->
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
  {% if messages %}
    {{ messages }}
  {% endif %}


  <!-- REGISTRATION FORM -->
  <h2>registration page</h2>
  <form class="" method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
